// =======================================================================================
// ** Colour, font stacks, media queries, that kind of thing.  **
// =======================================================================================


// =========================================
// ** Media Queries  **
// =========================================

@mixin breakpoint($point) {
    @if unitless($point) { $point: 1px * $point; }
    @media (max-width: $point) { @content; }
}


// =========================================
// ** Typeography  **
// =========================================

@mixin heading-font-stack {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin font-stack {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 400;
}




// =========================================
// ** Mixins  **
// =========================================

//Display Flex
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

//Fancy Link Underline
@mixin link-underline($colour) {
  transition: all $transition-duration;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;
  &:hover,
  &focus {
    border-bottom: 3px solid $colour;
    padding-bottom: 0;
    margin-bottom: 5px;
    outline: 0;

    @include breakpoint(800) {
      border-bottom: 3px solid transparent;
    }
  }
}

//Simple Link Underline
@mixin simple-link-underline($colour) {
  transition: border-bottom $transition-duration;
  border-bottom: 2px solid transparent;

  &:hover,
  &focus {
    border-bottom: 2px solid $colour;
    @include breakpoint(800) {
      border-bottom: 2px solid transparent;
    }
  }
}
// =========================================
// ** Variables  **
// =========================================

//********** Colours **********

$font-colour: #424141;
$light-font-colour: #f2f0eb;
$background-colour: #e9e9e9;
$light-background-colour: #fff;

//Link Colours
$main-blue: #486a8d;
$link-colour: #486a8d;


//Transition Timings
$transition-duration: 0.3s  ease-in-out 0s;
$transition-duration-fast: 0.2s  ease-in-out 0s;
$transition-duration-slow: 0.8s  ease-in-out 0s;

// =========================================
// ** Spacing & Layout  **
// =========================================

//Heading sizes
$h1-size: 2.5rem;
$h2-size: 1.5rem;

//Heading Spacing
$large-h1-spacing: 4.5rem;
$h1-spacing: 2.5rem;
$h2-spacing: 1.5rem;
$h3-spacing: .75rem;

//Articles
$large-article-spacing: 4rem;
$article-spacing: 2.5rem;
$small-article-spacing: 1rem;

//Sections
$large-section-spacing: 70px;
$section-spacing: 70px;
$small-section-spacing: 2%;

//Paragraph Spacing
$large-paragraph-spacing: 2rem;
$paragraph-spacing: 1rem;
$small-paragraph-spacing: .5rem;

//Form Spacing
$input-spacing: 1%;

