<img class="header-background-image" src="<perch:content id="main_header_background" type="image" label="Header Background Image." width="2000" />" alt="<perch:content id="logo_alt" type="text" label="Image description" />"
  sizes="100vw"
  srcset="<perch:content type="image" id="main_header_background" width="2000" /> 2000w,
          <perch:content type="image" id="main_header_background" width="1500" /> 1500w,
          <perch:content type="image" id="main_header_background" width="1100" /> 1100w,
          <perch:content type="image" id="main_header_background" width="800" /> 800w,
          <perch:content type="image" id="main_header_background" width="600" /> 600w,
          <perch:content type="image" id="main_header_background" width="450" /> 450w">
