<div class="social-media-div"><!-- TODO: Smaller icons, maybe svg. -->
  <a class="social-media-link twitter-link"href="<perch:content id="twitterSocialMediaLink" type="Text" label="Twitter Profile URL"  />" >
    <img src="/images/twitter-icon.png" class="social-media-icon twitter-icon" alt="Twitter Icon">
  </a>
  <a class="social-media-link instagram-link" href="<perch:content id="instagramSocialMediaLink" type="text" label="Instagram Social Media Link"  />" >
    <img src="/images/instagram-icon.png" class="social-media-icon instagram icon" alt="Instagram Icon">
  </a>
  <a class="social-media-link website-link" href="<perch:content id="websiteSocialMediaLink" type="text" label="Website Link"  />" >
    <img src="/images/website-icon.png" class="social-media-icon website-icon" alt="Instagram Icon">
  </a>
</div>