<section class="blog-section blog-archive-section">
    <h2 class="blog-archive-listing-title">
      <a class="link-underline" href="<perch:blog id="postURL" />">
        <perch:blog id="postTitle" />
      </a>
    </h2>
    <div class="blog-listing-excerpt-div">
      <perch:blog id="blog-index-excerpt" html="true" />
    </div>
    <p class="read-more-link">
      <a class="read-more-link link-underline" href="<perch:blog id="postURL" />">Click here to listen and for show notes!</a>
    </p>

    <p class="blog-index-date-time">
      <perch:blog id="postDateTime" format="%d %B %Y" />
    </p>
  </section>

  <perch:after>
    <perch:if exists="paging">
      <div class="paging">
        Page <perch:blog id="current_page" /> of <perch:blog id="number_of_pages" />
        <perch:blog id="page_links" encode="false" />
        <div class="paging-inner-div">
            <perch:if exists="not_first_page">
                    <a class="first-paging-link paging-link"  href="\">First</a>
            </perch:if>
            <perch:if exists="not_first_page">
                <a class="paging-link"  href="<perch:blog id="prev_url" encode="false" />">|&nbsp;Previous&nbsp;|</a>
            </perch:if>
            <perch:if exists="not_last_page">
                <a class="paging-link"  href="<perch:blog id="next_url" encode="false" />">Next</a>
        </div>
            </perch:if>
        </div>
    </perch:if>
</perch:after>